<% if (title) { %>
    <h1 class="formH1"><%= title %></h1>
<% } else { %>
    <h1 class="formH1">Login</h1>
<% } %>

<%- messages() %>

<div class="signup-box">
    <form>
        <label for="email">Email:</label>
        <input type="email" id="email" name="account_email" required>
        <label for="password">Password:</label>
        <input type="password" name="account_password" id="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
        <button type="submit" id="submitBtn">Login</button>
    </form>
    <p class="signup">No account? <a href="/account/register">Sign-up</a></p>
</div>




