<header id="top-header"> 
    <div class="site-id">
        <img src="/images/site/icon.png" alt="">
        <span class="siteName">
            <a href="/" title="Return to Home page">CSE Motors</a>
        </span>
    </div>
    
    <div id="tools">
        <a href="/account/login" title="Click to log in">My account</a>
    </div>
</header>