/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: black;
}

#top-header a {
  color: black;
  font-family: Ubuntu, Verdana, Geneva, Tahoma, sans-serif;
}

.site-id {
  display: flex;
  align-items: center;
}

#top-header span{
  font-size: 1.5rem;
  font-family: Ubuntu, Verdana, Geneva, Tahoma, sans-serif;
}

#tools {
  font-size: 1.3rem;
}

/* ******** Navigation ********  */
nav {
  background-color: black;
  width: 100%;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 10px;
  margin-bottom: 10px;
}

nav ul li {
  font-size: 1.2rem;
  cursor: pointer;
  padding: 5px 10px;
  color: white;
}

nav ul li:hover {
  background-color: gray;
}

/* *********** Heading ************** */

h1 {
  padding-left: 10px;
  font-size: 1.5rem;
  margin-top: 10px;
  font-family: Poppins, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* ************** Hero Section **************  */

.hero-section {
  display: grid;
  grid-template-columns: 1fr;
}

.hero-text {
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 1;
  margin-top: 5%;
  margin-left: 10px;
  color:blue;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: rgba(250, 250, 250, 0.5);
  width: fit-content;
  height: fit-content;
  font-family: Ubuntu, Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 0 0  5px 0 black;
  font-size: 1.1rem;
}

.hero-text * {
  margin-bottom: 2px;
}

.hero-text img {
  width: 100px;
}

.hero-image {
  grid-row: 1/2;
  grid-column: 1/2;
}

.hero-image img {
  width:  100%;
}

/* ************** Reviews ****************  */

.reviews h2 {
  margin: 10px;
  font-family: Playfair Display, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.reviews ul{
  margin: 1rem 2rem;
}

.reviews ul li {
  margin-bottom: 5px;
  font-family: Ubuntu, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
}

/* ************ Upgrades **********  */

.upgrades {
display: grid;
grid-template-columns: repeat(2, minmax(150px, 250px));
max-width: min-content;
}

.upgrades h2 {
  grid-column: 1/3;
  padding-left: 10px;
  font-family: Playfair Display, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.upgrades > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px; 
  gap: 10px;
  width: 100%;
  margin: 1rem;
}

.image-container {
  display: inline-block;
  background-color: blue;
  width: 100%;
  height: 80px;
}
.upgrades img {
  max-width: 60px;
  display: block;
  margin: 10px auto;
}

.upgrades a {
  text-decoration: underline;
  font-family: Ubuntu, Verdana, Geneva, Tahoma, sans-serif;
}

/* **************** Footer ************* */

footer p {
  padding-left: 10px;
  margin: 20px 0 10px 0;
  font-family: Ubuntu, Verdana, Geneva, Tahoma, sans-serif;
}

@media (min-width: 650px) {
  body {
    background-image: url("../images/site/checkerboard.jpg");
    background-size: cover;
    background-position: center;
  }

  #wrapper {
    max-width: 850px;
    margin: 10px auto;
    border: 5px solid skyblue;
    border-radius: 5px;
    background-color: white;
  }

  #wrapper main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "heading heading"
      "hero hero"
      "updates reviews"
  }

  #wrapper h1 {
  grid-area: heading;
  }

  .hero-section {
    grid-area: hero;
  }
  .reviews {
    grid-area: reviews;
  }
  .upgrades {
    grid-area: updates;
  }
}


